
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #020631;
  }
  
  .app {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
  }
  
  .app .mainHeading h1 {
    text-align: center;
  }
  
  .app h1,
  h2 {
    color: white;
    margin-left: 1rem;
  }
  
  .app .input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 37px;
  }
  
  .app .input {
    margin-top: 2em;
    width: 20em;
    height: 2em;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    padding: 5px;
  }
  
  .app .input input {
    width: 100%;
    height: 2em;
    border-color: transparent;
    outline-color: transparent;
  }
  
  .app i {
    cursor: pointer;
    font-size: larger;
    font-weight: 900;
    color: grey;
    margin-right: 5px;
  }
  .app .todos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .app .todos .todo {
    margin-top: 2em;
    margin-left: 1rem;
    width: 20em;
    height: 2em;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    padding: 5px;
  }
  .app .todos .todo .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .app .todos .todo .left p {
    margin-left: 3px;
    font-size: medium;
    font-weight: 700;
    font-style: normal;
    color: grey;
  }

.remove {
    margin-left: 1rem;
    background-color: #fbfbfb; 
    color: rgb(0, 0, 0); 
    padding: 0.625em 1.25em;
    font-size: 1em; 
    border: none; 
    border-radius: 0.25em; 
    cursor: pointer; 
    margin-top: 2em;
}

.remove:hover {
    background-color: #ff0000; 
  }
  